
/* Available Fonts
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Source Code Pro', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Oxygen', sans-serif;*/

body{
	background-color: #00295c;
	color: #FFFFFF;
	font-size: 16px;
	font-family: 'Oxygen', sans-serif;
	font-weight: 400;
	padding:0;
	margin:0 auto;
	width:40em;
	line-height:1.5;	
	word-spacing:0.1em;
	}
	a:link {color:#19d2b2;}     /* unvisited link */
	a:visited {color:#9a679f;}  /* visited link */
	a:hover {color:#4f81bd;}    /* mouse over link */
	a:active {color:#4f81bd;}   /* selected link */
#tag{
	 font-size: 50px;
	 font-family: 'Roboto',  sans-serif;
	 font-weight: 200;
	 color: #40E0D0;
	}
